@import url("variable.css");

* {
    font-family: 'Inter', 'Kantumruy Pro', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* color: #00ffba; */
}
body {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    color: var(--main-text);
}
/* [class*=sidebar-dark-] {
    background-color: var(--primary);
} */
.elevation-4 {
    box-shadow: none !important;
    border-right: 1px solid #ced4da;
}
[class*=sidebar-light-] {
    /* background-color: #fbfaff; */
}

/* [class*=sidebar-dark] .user-panel,
[class*=sidebar-dark] .brand-link {
    border-bottom: 1px solid #7075b0;
} */

[class*=sidebar-light-] .sidebar a {
    color: #67748e;
    font-weight: 500;
}
[class*=sidebar-light-] .nav-sidebar>.nav-item>.nav-link.active {
    box-shadow: none;
}

.nav-sidebar>.nav-item .nav-icon.fa, .nav-sidebar>.nav-item .nav-icon.fab, .nav-sidebar>.nav-item .nav-icon.fad, .nav-sidebar>.nav-item .nav-icon.fal, .nav-sidebar>.nav-item .nav-icon.far, .nav-sidebar>.nav-item .nav-icon.fas, .nav-sidebar>.nav-item .nav-icon.ion, .nav-sidebar>.nav-item .nav-icon.svg-inline--fa {
    font-size: 0.9rem !important;
}

.sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    position: relative;
    background-color: transparent !important;
    color: #7a51be !important;

}
.sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active::before {
    content: '';
    height: 80%;
    width: 3px;
    top: 3.2px;
    left: 7px;
    background-color: #7a51be;
    position: absolute;
}
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active {
    color: #00e3a5 !important;
}
.sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    /* box-shadow: 3px 3px #00ffba;
    border: 0.3px solid #00ffba; */
    /* transform: translate(-3px, -3px); */
    background-color: #002eff1f !important;
    /* outline: 1px solid #7986ff69; */
}
[class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-link.active {
    /* box-shadow: none !important; */
}

.nav-pills .nav-link {
    /* border-radius: 26px; */
}

[class*=sidebar-light-] .nav-treeview>.nav-item>.nav-link.active, [class*=sidebar-light-] .nav-treeview>.nav-item>.nav-link.active:hover {
    background-color: unset;
    color: #7a51be;
}
[class*=sidebar-light-] .nav-treeview>.nav-item>.nav-link:hover {
    background-color: unset;
    color: #7a51be;
}
.nav-sidebar .nav-treeview>.nav-item>.nav-link>.nav-icon {
    scale: 0.6;
}

label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 500;
}

th {
    font-weight: 500;
}

table tbody {
    font-size: 0.9rem;
}

table tbody tr td {
    vertical-align: middle !important;
}

.modal-content {
    box-shadow: none !important;
}

.swal2-actions button {
    margin-inline: 10px;
}

.total-count {
    transform: translateY(-3px);
    margin-inline: 6px;
}

.bg-info, .bg-info>a
/* .btn-info */
{
    /* #01cae9
    ##03b0d4 */
    color: #1f2d3d!important;
}

.btn-primary:hover {
    background-color: #232bb2 !important;
}

.pagination-nav nav {
    display: flex;
    justify-content: flex-end;
}
.pagination-nav nav .pagination {
    /* float: right; */
    margin-top: 10px;
}

table {
    border-bottom: 1px solid #dee2e6;
}

.select2-container--bootstrap4.select2-container--focus .select2-selection {
    border-color: #4b54bc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice {
    background-color: #4b54bc;
    color: #ffffff;
    border: 1px solid #0d1bb9;
}

.form-control:focus {
    border-color: #4b54bc;
}

.os-scrollbar-handle {
    pointer-events: auto;
    position: absolute;
    width: 30%;
    right: 0;
    height: 100%;
}

.btn-secondary {
    background-color: var(--secondary);
    border-color: var(--secondary);
}
.btn-secondary:hover {
    background-color: var(--secondary-hover);
    border-color: var(--secondary-hover);
}


/* dark-mode toggler */
/* .light-dark-wrapper {
    margin-left: auto;
    width: 50px;
    height: 30px;
    background-color: #454d55;
    border: #1d92b2;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6px;
    cursor: pointer;
    display: flex;
    position: relative;
}
.light-dark-wrapper svg {
    width: 15px;
    height: 15px;
}
.light-dark {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
    transition: transform 0.5s, background-color 0.5s;
    will-change: transform;
}
.credits {
    display: none;
}
.sun-svg, .moon-svg {
    display: none;
} */


body.dark-mode .light-dark {
    transform: translateX(calc(100% - 2px))
}

.colored-toast > h2.swal2-title {
    color: var(--main-text) !important;
}
.dark-colored-toast {
    background-color: #343a40 !important;
}
.dark-colored-toast > h2.swal2-title {
    color: var(--white) !important;
}
.dark-colored-toast > .swal2-timer-progress-bar-container > .swal2-timer-progress-bar {
    background: #2ebe507f;
}

/* .text-sm .select2-container--default .select2-selection--multiple, select.form-control-sm~.select2-container--default .select2-selection--multiple,
.text-sm .select2-container--default .select2-selection--single, select.form-control-sm~.select2-container--default .select2-selection--single {
    height: 38px;
}
.text-sm .select2-container--default .select2-selection--single .select2-selection__rendered, select.form-control-sm~.select2-container--default .select2-selection--single .select2-selection__rendered {
    margin-top: -3px;
}
.text-sm .select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-search.select2-search--inline .select2-search__field, select.form-control-sm~.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-search.select2-search--inline .select2-search__field {
    margin-top: 9px;
}
.text-sm .select2-container--default .select2-selection--single .select2-selection__arrow, select.form-control-sm~.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 1px;
} */

.select2-container--bootstrap4 .select2-selection {
    background-color: transparent !important;
}
.select2-container--bootstrap4 .select2-selection {
    /* border: 1px solid #6d757d !important; */
}

.select2-container--default .select2-selection--single {
    background-color: transparent;
    border: 1px solid #6c757d;
}

.dark-mode .select2-selection--single .select2-selection__rendered {
    color: #fff !important;
}
.dark-mode .select2-results__option[aria-selected=true] {
    background-color: #3f474e!important;
    color: #dee2e6 !important;
}
.dark-mode .select2-dropdown {
    background-color: #343a40 !important;
    border-color: #6c757d !important;
    color: #fff !important;
}
.dark-mode .card-primary:not(.card-outline)>.card-header {
    background-color: #4b54bc;
}
.dark-mode .select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow b {
    border-color: #ffffff transparent transparent transparent;
}
.dark-mode .select2-container--bootstrap4 .select2-selection {
    border: 1px solid #6c757d;
}

.dark-mode .btn-outline-primary {
    color: #626efa;
    border-color: #5960b3;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #344767;
}

.dark-mode .h1, .dark-mode .h2, .dark-mode .h3, .dark-mode .h4, .dark-mode .h5, .dark-mode .h6,
.dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode h4, .dark-mode h5, .dark-mode h6 {
    color: #fff;
}

.widget-icon {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    right: 0px;
    transform: translateY(20%);
}
.widget-icon {
    background-color: #efedf5b8;
}
.widget-icon i {
    font-size: 1.6rem;

}
.inner h3 {
    margin-top: 5px;
}
.inner p {
    margin-bottom: 5px;
}
.small-box {
    padding-block: 10px;
    padding-inline: 20px;
    position: relative;
}
.small-box .icon {
    position: relative;
}
.small-box .icon .widget-icon {

}
.small-box .icon svg {
    position: static;
}
.small-box >.inner {
    padding: 0px;
}
.btn_circle {
    width: 36px;
    height: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
}
.btn_circle:hover {
    scale: 1.125;
}
[class*=sidebar-light-] .nav-sidebar>.nav-item.menu-open>.nav-link, [class*=sidebar-light-] .nav-sidebar>.nav-item:hover>.nav-link {
    background-color: #4549a212;
    color: #4549a2;
}
.btn-edit-timetable-slot {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: unset;
    font-weight: 700;
}
.preview-multiple img {
    padding: 10px;
    height: 150px;
}
.preview-multiple img,
.preview-multiple .img_container img {
    padding: 10px;
    height: 150px;
}
.preview-multiple .img_container {
    display: inline-block;
    position: relative;
}
.preview-multiple .img_container i {
    position: absolute;
    background-color: #ebebeb;
    top: 3px;
    right: 3px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.preview-multiple .img_container i:hover {
    color: #ebebeb;
    background-color: #858585;
}
