@import url("variable.css");

.dark-mode .widget-icon {
    background-color: #efedf52b;
}
.dark-mode .bg-white {
    background-color: #65727f !important;
}
.dark-mode .inner p {
    color: #fff;
}
.dark-mode .bootstrap-datetimepicker-widget table td,
.dark-mode .bootstrap-datetimepicker-widget table th {
    color: #fff;
}
.dark-mode .bootstrap-datetimepicker-widget table td.old {
    color: #a4b2bf;
}
.dark-mode .btn-primary {
    background-color: #00976e;
    border-color: #01af81;
}
.dark-mode .btn-primary:hover {
    background-color: #00bb89 !important;
    border-color: #01af81;
}
.dark-mode a {
    color: #00bb89;
}
.dark-mode a:not(.btn):hover {
    color: #17fec0;
}
.dark-mode .form-control:focus {
    border-color: #01af81;
}
.dark-mode .select2-container--bootstrap4 .select2-results__option--highlighted, .dark-mode .select2-container--bootstrap4 .select2-results__option--highlighted.select2-results__option[aria-selected="true"] {
    background-color: #00bb89;
}
.dark-mode .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice {
    background-color: #00bb89;
    border: 1px solid #01af81;
}
.dark-mode .btn-outline-primary {
    color: #00bb89;
    border-color: #19ffc2;
}
.dark-mode .btn-outline-primary:hover {
    background-color: #00976e;
    border-color: #01af81;
}

.dark-mode .btn-outline-success {
    color: #4cff1e;
    border-color: #66ff3f;
}
.dark-mode .btn-outline-success:hover {
    background-color: #27c200;
    border-color: #77ff55;
}
.dark-mode .elevation-4 {
    border-right: 1px solid #6d757d;
}
[class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-link.active {
    box-shadow: none;
}
[class*=sidebar-dark-] .nav-sidebar>.nav-item.menu-open>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item:hover>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-link:focus {
    background-color: #b8ffec0f;
    color: #00e3a6;
}
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #00e3a61c !important;
    outline: 1px solid #00e3a64a;
    position: relative;
}
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:focus, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:hover {
    background-color: unset;
    color: #00e3a6;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active::before {
    content: '';
    height: 80%;
    width: 3px;
    top: 3.2px;
    left: 7px;
    background-color: #00e3a5;
    position: absolute;
}

.dark-mode .nav-pills .nav-link.active, .dark-mode .nav-pills .show>.nav-link {
    background-color: #00bb89;

}
.dark-mode .nav-pills .nav-link:not(.active):hover {
    color: #00bb89;
}

.dark-mode .note-editor {
    background-color: #dbdbdb !important;
}

.dark-mode .card:not(.card-outline)>.card-header a.active,
.dark-mode .nav-pills .nav-item a.active {
    color: white;
}
