:root {
    --main-text: #67748e;
    --main-text-dark: #ced4da;
    --blue: #4b54bc;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #2ebe4f;
    --teal: #20c997;
    --cyan: #03c3ec;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #4b54bc;
    --primary-hover: #5d65c3;
    --secondary: #93a0ac;
    --secondary-hover: #555c63;
    --success: #00ffba;
    --info: #03c3ec;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    scroll-behavior: smooth;
}
